/* General Styles */
body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-family: "Kanit",sans-serif;
    font-weight: 200;
    font-style: normal;
    background:#222;
  } 


  header {
    background: #222;
    color: white;
    padding: 1rem 0;
    text-align: center;
  }


  #logoInHome {
    width: 200px;
    height: 20  0px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin: 0 10px;
  }
  
  nav ul li a {
    color: white; 
    text-decoration: none;
    font-weight: 400;
  }

  nav ul li a:hover {
    color: #fff; 
    text-decoration: none;
    font-weight: 400;
    transition: ease-in-out 0.5s ;
  }
  /* Home */

  .main_home{
    background: white;
    padding:0;
  }
  .home{
    position: relative;
    width: 100%;
    height: 500px; /* Adjust height as needed */
    background: url('/assets/Buildings\ -\ Koya\ Market.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .hero {
    background: rgba(34,34,34,0.8);
    color: white;
    padding: 6rem;
    width: 80%;
    text-align: center;
    border-radius: 10px;
  }

  .hero h2 {
    font-weight: 150;
    font-size: 20px;
    color: #fff;
  }


  #nameSpan {
    font-weight: 300;
    font-style: bold;
  }

  .btn {
    background: #222;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 400;
  }
  .btn:hover{
    background: #fff;
    color: #222;
    transition: ease-in-out 0.5s ;
    border: 1px solid #222;
  }

  /* Products */
  
  .products_main{
    background: white;
    padding: 10px;
  }
  .products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
  }

  .product-card .price{
    color: #008220;
    font-weight: 500;
    font-size: 27px;
  }

  .product-card h3 {
    font-size: 16px;
    font-weight: 400;
    color: #222;
  }

  .product-card p {
    font-size: 14px;
    font-weight: 300;
    color: #222;
    margin-bottom: 1rem;
  }
  
  .product-card {
    border: 1px solid #222;
    border-radius: 10px;
    margin: 1rem;
    padding: 1rem;
    width: 200px;
    text-align: center;
  }
  
  .product-card img {
    max-width: 100%;
    height:auto;
    border-radius: 10px;
  }


  /* Footer Universal*/

  footer {
    background: #222;
    color: #fce2e1;
    font-weight: 300;
    text-align: center;
    padding: 1rem;
    height: 1rem;
    a {
      text-decoration: none;
      color: #fce2e1;
      margin:5px;
      padding: 2px 15px;
      border: 1px solid white;
      border-radius: 5px;
    }
  }
  
  /* Footer : Social icons */
  .social-icons {
    display: relative;
    gap: 1px;
    padding: 10px;
}

.social-icons a {
    font-size: 20px;
    color: white; 
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.social-icons a:hover {
    color: #222;
    background:white;
    transition: ease-in-out 0.5s;
}


/* Contact.html page*/
.contact {
  background: white;
  padding: 10px;
}
.container {
  color: #222;
  width: 60%;
  margin: 50px auto;
  background: white;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: #222 1px solid;
}
h2 {
  text-align: center;
  margin-bottom: 20px;
}
.form-group {
  margin-bottom: 15px;
}
label {
  display: block;
  font-weight: bold;
}
input, textarea {
  width: 96.5%;
  padding: 10px;
  border: 1px solid #222;
  border-radius: 5px;
  margin-top: 5px;
  resize: none;
}
button {
  width: 100%;
  background: #222;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 400;
  font-family:"Kanit",sans-serif;
  font-size: 18px;
}
button:hover {
  background: #fff;
  color: #222;
  transition: ease-in-out 0.5s ;
  border: 1px solid #222;
}
.contact-info {
  margin-top: 20px;
  text-align: center;
}
.contact-info p {
  margin: 5px 0;
  font-weight: 400;
  letter-spacing: 1px;
}
.contact-info a {
  text-decoration: none;
  color: #222;
}
.contact-info i {
  margin-right: 10px;
  color: #007BFF;
}

.contact-form {
  padding: 50px 20px;
}

.contact-form h2{
  color: #f87b0d;
}

.contact-form form label{
  color: #f87b0d;
  font-weight: bold;
  font-size: 14px;
}

/* About Us Page Styles */
.main_about{
  background: white;
  padding: 10px;
}
.about {
  width: 85%;
  margin: 20px auto;
  background: #fff;
  padding: 5px 0px 5px 0px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.about .container{
  border: none;
  box-shadow: none;
  margin: 0 auto;
  padding: 10;
}
.about .container h1,h2,h3 {
  color: #222;
  text-align: center;
  margin-bottom: 20px;
  font-size: 23px;
}
.about .container p {
  margin: 0;  
  padding: 5px 0;
  line-height: 1.5;
  color: #222;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}
.about .container .highlight{
  font-weight: 550;
  text-decoration: none;
  color: none;
  stroke: green 1px;
}
.about .container .koyaStroke {
  font-weight: maximium;
  font-size: 24px;
  color: transparent;
  -webkit-text-stroke: 1.5px #222; /* Stroke effect */
  word-spacing: 1px;
}
.about .container .highlight a{
    text-decoration: none;
    color: #008220;
  }
.about .container .highlight a:hover{
    text-decoration: underline;
    color: #0004ff;
    transition: ease-in-out 0.3s ;
  }
  .about .container .quote {
    font-style: italic;
    font-size: 20px;
    color: #222;
    margin-top: 25px;
    font-weight: 300;
  }
/* Privacy Policy and terms & conditions*/

.privacyAndTerms{
  background: white;
  padding: 10px;
}
.main_privacyPolicy{
  width: 80%;
  margin: 20px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.main_privacyPolicy h2 {
  color: #222;
}

.main_privacyPolicy section {
  margin-bottom: 20px;
  text-align: center;
}
.main_privacyPolicy a{
  text-decoration: none;
  color: #008220;
  font-weight: 550;
}
.main_privacyPolicy a:hover{
  text-decoration: underline;
  color: #0004ff;
  transition: ease-in-out 0.3s ;
}

/* Responsive Design */
@media (max-width: 90%) {
    nav ul li {
      display: block;
      margin: 10px 0;
      
    }
    #Heading {
      font-size: 23px;
    }
  
    .product-card {
      width: 90%;
    }
  }

    /* SetUp For Read More and Read Less */
    .hidden-content {
      display: none;
  }
  .read-more {
      color: blue;
      cursor: pointer;
  }

  
  /* Mobile-Friendly Menu */
  .menu-icon {
    display:none;
    font-size: 20px;
    cursor: pointer;
    
  }
  
  @media (max-width: 500px) {


    header h1{
      font-size: 20px;
    }
    .menu-icon {
      display: block;
    }
  
    nav ul {
      display: block;
      width: 100%;
      overflow: hidden
    }
  
    nav ul.active {
      display: block;
    }

    #logoInHome {
      width: 80px;
      height: 15px  0px;
    }
    .cta-button {
      margin: 0 auto;
      padding: 10px 44px; 
  }

  .about .container h1,h2,h3{
    font-size: 16px;
  }
  .about .container .koyaStroke{
    font-size: 17px;
  }
  .about .container p {
    font-size: 14px;
  }
  .about .container .quote {
    font-size: 14px;
  }
  .about .container .highlight{
    font-size: 14px; 
  }
  .about .container .highlight a{
    font-size: 14px;
  }
  .about .container .highlight a:hover{
    font-size: 14px;
  }


  #purchase-form{
    width: 60%;
  }
  .booking_main{
    padding: 0;
  }
    footer {
      height: 8.6rem;
    }
    footer a{
        text-decoration:none ;
        margin: 2px;
        padding: 1.5px 1.5px 1.5px 1.5px;
        font-size: 13px;
      }
      .social-icons {
        display: relative;
        border: none;
        
      }
      .social-icons a {
        font-size: 20px; /* Adjust size */
        margin: 10px;
        border: none;
        padding: 5px;
      }
      .social-icons a:hover {
        color: #222;
        transition: ease-in-out 0.5s;
      }
      .home .hero {
        padding: 1.5rem;
      }

      .product-card {
        width: 250px;
      }
  } 
